<!-- 全局js -->
<script src="//cdn.tp.cn/index/js/jquery.min.js?v=2.1.4"></script>
<script src="//cdn.tp.cn/index/js/bootstrap.min.js?v=3.3.6"></script>
<script src="//cdn.tp.cn/index/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="//cdn.tp.cn/index/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="//cdn.tp.cn/index/js/plugins/layer/layer.min.js"></script>

<!-- 自定义js -->
<script src="//cdn.tp.cn/index/js/hplus.js?v=4.1.0"></script>
<script type="text/javascript" src="//cdn.tp.cn/index/js/contabs.js"></script>

<!-- 第三方插件 -->
<script src="//cdn.tp.cn/index/js/plugins/pace/pace.min.js"></script>
<!-- Flot -->
<script src="//cdn.tp.cn/index/js/plugins/flot/jquery.flot.js"></script>
<script src="//cdn.tp.cn/index/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="//cdn.tp.cn/index/js/plugins/flot/jquery.flot.spline.js"></script>
<script src="//cdn.tp.cn/index/js/plugins/flot/jquery.flot.resize.js"></script>
<script src="//cdn.tp.cn/index/js/plugins/flot/jquery.flot.pie.js"></script>
<script src="//cdn.tp.cn/index/js/plugins/flot/jquery.flot.symbol.js"></script>

<!-- Peity -->
<script src="//cdn.tp.cn/index/js/plugins/peity/jquery.peity.min.js"></script>
<script src="//cdn.tp.cn/index/js/demo/peity-demo.js"></script>

<!-- 自定义js -->
<script src="//cdn.tp.cn/index/js/content.js?v=1.0.0"></script>

<!-- jQuery UI -->
<script src="//cdn.tp.cn/index/js/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- GITTER -->
<script src="//cdn.tp.cn/index/js/plugins/gritter/jquery.gritter.min.js"></script>

<!-- EayPIE -->
<script src="//cdn.tp.cn/index/js/plugins/easypiechart/jquery.easypiechart.js"></script>

<!-- Sparkline -->
<script src="//cdn.tp.cn/index/js/plugins/sparkline/jquery.sparkline.min.js"></script>

<!-- Sparkline demo data  -->
<script src="//cdn.tp.cn/index/js/demo/sparkline-demo.js"></script>

<!-- Jvectormap -->
<script src="//cdn.tp.cn/index/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="//cdn.tp.cn/index/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

<!-- iCheck -->
<script src="//cdn.tp.cn/index/js/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
<!--统计代码，可删除-->